//- layout.pug
doctype html
html
  head
    title Mun-Dancers 
    block scripts
    block style 
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/img/logo.jpg")
                h4 Mun-Dancers

            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us] 

    block content 
    
    footer#footer
        | Copyright © 2023 Mun-Dancers.com | All right reserved